.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(61, 59, 59, 0.8);
}

.inputContainer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  position: relative;
  padding-top: 45px;
  padding-bottom: 20px;
}

.inputContainer .close {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: red;
  color: rgb(30, 29, 29);
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inputContainer input {
  width: 90%;
  padding: 10px;
  margin-bottom: 5px;
  outline: none;
}

.inputContainer button {
  width: 90%;
  background-color: blue;
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .inputContainer input {
    width: 90%;
    font-size: 8px;
  }

  .inputContainer button {
    width: 90%;
    background-color: blue;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 8px;
    cursor: pointer;
  }
}

@media screen and (max-width: 376px) {
  .inputContainer input {
    width: 90%;
    font-size: 8px;
  }
}
