.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.heading {
  background-color: rgb(8, 8, 64);
  font-size: 40px;
  padding: 50px;
  margin-top: 30px;
  border-radius: 3px;
  width: 80%;
  text-align: center;
  color: rgb(242, 242, 247);
  margin-bottom: 20px;
}

.container button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 70%;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 20px;
  }

  .container button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    cursor: pointer;
  }
}

@media screen and (max-width: 426px) {
  .container .heading {
    padding: 14px;
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 425px) {
  .container .heading {
    padding: 10px;
    font-size: 15px;
    margin-bottom: 3px;
  }

  .container button {
    font-size: 10px;
    cursor: pointer;
  }
}
