.navBar {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  background-color: #3c3752;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  align-items: center;
}

.connect button {
  background-color: #95759b;
  border-radius: 0.7rem 1rem;
  color: rgb(246, 230, 230);
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.home {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 3rem;
}

.home_create {
  margin-bottom: 5rem;
  border: 2px solid rgb(246, 230, 230);
  border-radius: 0.7rem;
}
.home_box {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #3c3752;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: rgb(246, 230, 230);

  display: grid;
  grid-template-columns: 1.5fr 3fr;
  gap: 3rem;
}

.home_completed {
  width: 70%;
  padding: 1rem;
  font-size: 1.2rem;
  margin-right: 30px;
}

.home_completed h2 {
  font-size: 2rem;
}

.home_completed_list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home_create_box {
  /* padding: 1rem; */
}

.home_create_box {
  font-size: 1.5rem;
  text-align: center;
}

.home_create_input {
  width: 90%;
  background-color: #95759b;

  padding: 1rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.home_create_input input {
  width: 90%;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 1.4rem;
}

.home_create_input input::placeholder {
  color: rgb(246, 230, 230);
}

.iconBlack {
  color: rgb(246, 230, 230);
  font-size: 1.5rem;
  cursor: pointer;
}

.home_create_list_app {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
  height: 16rem;
  width: 98%;
}

.lock_list {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  margin: 1px auto;
  width: 50%;
  overflow: hidden;
  /* border: 1px dotted #95759b;
  width: 90%;
  height: 90%; */
}
.lock_color {
  border-bottom: #95759b;
  border-radius: 0.2rem;
  color: white;
}

.iconClose {
  color: #95759b;
}

/* .doneBox {
  display: flex;
  width: 50%;
} */

.doneBox {
  display: flex;
  flex-direction: column;
  border: 1px dotted #95759b;
  padding: 4rem;
  font-size: 12px;
  margin: 1rem auto;
  width: 50%;
  border-bottom: 1px solid #95759b;
}

.done p {
  font-size: 1rem;
}

.noData {
  text-align: center;
  padding: 4rem;
  font-size: 1rem auto;
}

.dataBox {
  width: 90%;
  margin-left: 1rem;
  /* border: 2px solid white; */
  margin-top: 1rem;
}

@media screen and (max-width: 1144px) {
  .home_box {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .home_create {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .navBar {
    width: 95%;
    margin: 1rem auto;
  }

  .home_box {
    display: flex;
    width: 95%;
  }

  .home_completed h2 {
    font-size: 1.5rem;
  }

  .home_create_box h2 {
    font-size: 1.5rem;
  }

  .home_completed {
    display: none;
  }
  .home_create {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .navBar {
    width: 95%;
    margin: 1rem auto;
  }

  .home_box {
    display: flex;
    width: 95%;
  }

  .home_completed h2 {
    font-size: 1.5rem;
  }

  .home_completed {
    width: 30%;
  }
  .home_create {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .home_completed {
    display: none;
  }

  .home_create {
    width: 100%;
  }

  .home_create_box p {
    font-size: 1.9rem;
  }
  .home_create_input input {
    width: 96%;
    height: 30px;
  }
}
